
<ion-view id="login" name="login-view" view-title="Login Area">
   <ion-content scroll="true" style="background: url(img/profile-bg.jpg);background-size: cover;">
    <div class="row row-center" style="margin-top:30px">
        <div class="col col-center">
            <div class="header padding text-center">
                <img src="img/logolg.png" alt="Your logo here" class="icon"/>
            </div>
            <form name="loginForm" ng-submit="login(user)" validate>
            <div class="list">
                <label class="item item-input">
                    <input type="text" name="username" placeholder="Username" ng-model="user.username" required >
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="user.password" required >
                </label>
            </div>
                <button type="submit" class="button button-block button-positive" ng-disabled="loginForm.$invalid">
                    Log In
                </button>
            </form>
            <div class="button-bar social-login">
                        <button class="button button-small button-border icon-left ion-social-google button-assertive" ng-click="loginWithGoogle()">
                            Google+
                        </button>
                        <button class="button button-small button-border icon-left ion-social-twitter button-calm">Twitter</button>
                        <button class="button button-small button-border icon-left ion-social-facebook button-positive" ng-click="loginWithFacebook()">Facebook</button>
                    </div>

        </div>
    </div>
  </ion-content>
</ion-view>