<ion-view view-title="ORDER DETAIL AREA">
  <ion-content class="padding">
		    <div class="list" ng-repeat="item in ordersdetails">
            <a class="item item-avatar item-icon-right">
                <img ng-src="{{'graph/'+ item.KD_PRODUCT +'.png'}}" class="icon">
                <h2>{{item.NM_PRODUCT}}</h2>
                <p>Harga : Rp. {{item.HARGA_ITEM|number}}</p>
                <p>Quantity : {{item.JLH_ITEM}} item</p>
                <i class="icon"><h2>Rp. {{(item.HARGA_ITEM * item.JLH_ITEM)|number}}</h2></i>
            </a>
        </div>
  </ion-content>
</ion-view>