<ion-view view-title="Profile" name="profile-view">
  <ion-tabs class="tabs-top tabs-dark">
      <ion-tab title="Activity" icon="icon ion-connection-bars" href="#/main/profiles/activity">
        <ion-nav-view name="profile-activity"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Banner" icon="icon ion-trophy" href="#/main/profiles/trophy">
        <ion-nav-view name="profile-trophy"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Bank" icon="icon ion-ios-briefcase" href="#/main/profiles/banking">
        <ion-nav-view name="profile-banking"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Security" icon="icon ion-locked" href="#/main/profiles/security">
        <ion-nav-view name="profile-security"></ion-nav-view>
      </ion-tab>
  </ion-tabs>
</ion-view>


