<ion-view title="Security">
  <ion-content class="padding">
        <ion-list can-swipe="true">
        	<div class="content">
            <div class="list  chat-item item-remove-animate">
                <a class="item item-avatar item-icon-right">
                    <img src="{{accountprofile.picture}}">
                    <h2>{{accountprofile.name}}</h2>
                    <p>{{accountprofile.email}}</p>
                    <p>{{accountprofile.birthday}}</p>
                    <p>{{accountprofile.gender}}</p>
                </a>
            </div>
        </div>
        </ion-list>
  </ion-content>
</ion-view>
