<ion-view view-title="SHOP AREA" name="dashboard-view">
  <ion-content class="padding">
  		<form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
<!--         <ion-list >
			<ion-item class="chat-item item-remove-animate item-thumbnail-left" ng-repeat="item in menu_items">
                <img  ng-src="{{'graph/'+ item.KD_PRODUCT +'.png'}}"  ng-click="addtocart(item)">
				
				<p style="position:absolute;right:10px;">
				<a  ng-click="addtocart(item)" class="button  button-balanced button-clear  icon ion-android-cart">
					<span ng-if="item.quantity">{{item.quantity}}</span>  
				</a> 
				</p>
                
				<h2 ng-click="addtocart(item)" > 
					{{item.NM_PRODUCT}} 
				</h2>
			</ion-item>
        </ion-list> -->
        <div class="list chat-item item-remove-animate" ng-repeat="item in menu_items">
            <a class="item item-avatar item-icon-right" ng-click="addtocart(item)">
                <img ng-src="{{'graph/'+ item.KD_PRODUCT +'.png'}}" class="icon">
                <h2>{{item.NM_PRODUCT}}</h2>
                <p>Rp. 8.000/Pcs</p>
                <!-- <i class="icon icon ion-android-cart"><h2>{{item.quantity}}</h2></i> -->
                <i class="icon icon ion-android-cart">
                    <span class="badge badge-positive icon-badge">{{item.quantity}}</span>
                </i>
            </a>
        </div>
  </ion-content>
</ion-view>

<!-- <ion-view view-title="ORDER DETAIL AREA" name="dashboard-view">
  <ion-content class="padding">
		<div class="list chat-item item-remove-animate" ng-repeat="item in ordersdetails">
            <a class="item item-avatar item-icon-right">
                <img ng-src="{{'graph/'+ item.KD_PRODUCT +'.png'}}" class="icon">
                <h2>{{item.KD_PRODUCT}}</h2>
                <p>Harga : Rp. {{item.HARGA_ITEM|number}}</p>
                <p>Quantity : {{item.JLH_ITEM}} item</p>
                <i class="icon"><h2>Rp. {{(item.HARGA_ITEM * item.JLH_ITEM)|number}}</h2></i>
            </a>
        </div>
  </ion-content>
</ion-view> -->